body {
    background: #111;
}

canvas {
    border: solid 1px red;
}

.right-sidebar {
    position: fixed;
    z-index: 5;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.right-sidebar .canvas-btn {
    font-size: 30px;
    color: white;
    z-index: 4;
    background-color: #666;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    margin: 5px 0;
    width: 200px;
    height: 50px;
}

.hide-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
